/* LoginForm.css */

.container {
  background-color: #fcfbfa; /* Set your desired background color */
  border: 2px solid #51f7e1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Adjust as needed */
  max-width: 400px; /* Adjust the width of the form container */
  margin: 0 auto; /* Center the container horizontally */
}


.container_h{
  text-align: center;
  color: black;
}